# Cambia questi valori in produzione.
DB_HOST=192.168.1.135
DB_PORT=5432
DB_NAME=myfitjournal
DB_SCHEMA=myfit
DB_USER=miky2184
DB_PASSWORD=kkpo2981
APP_HOST=0.0.0.0
APP_PORT=3500
APP_ENV=production
SECRET_KEY=change-me-with-a-long-random-value
